
<!-- Document   : consulta2
Created on : 16/08/2017, 11:40:48 AM
Author     : mhuarcaya -->


<!DOCTYPE html>
<html>
    <head>
        <title>AVLA Perú - PRÓRROGAS</title>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <script src="../../assets/jquery/jquery.min.js" ></script>
        <script src="./dashboard.js" ></script>
        <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.min.css" >
        <link rel="stylesheet" href="../../assets/awesome/font-awesome.min.css">
        <link href="../../assets/awesome/sb-admin-2.css" rel="stylesheet">

        <style>
        #MostRisky {
            font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

          #MostRisky td, #MostRisky th {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(1) {
            background-color: #dddddd;
        }
        </style>
    </head>
    <body ng-app="myApp" >
        <div class="container-fluid" id="contained">

        </div>
        <div class="container">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="navbar navbar-light bg-faded">
                    <a class="navbar-brand" href="/AvalChile/Consulta">
                        <img src="../../assets/img/avla.png"  class="d-inline-block align-top" alt="">
                    </a>
                </nav>
            </nav>
        </div>
        <div class="container pt-5">
            <div class="row pb-4">
                <div class="col-md-12">
                    <p class="h4 text-center">
                        PRÓRROGAS - Seguro de Crédito
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <nav class="nav nav-tabs" id="myTab" role="tablist">
                        <a class="nav-item nav-link active" id="busquedaIndividual-tab" data-toggle="tab" href="#busquedaIndividual" role="tab" aria-controls="busquedaIndividual" aria-expanded="true">Dashboard</a>
                    </nav>
                    <div class="row mt-5">
                      <div class="col-lg-6">
                          <div class="panel panel-default">
                            <br>
                            <br>
                              <div class="panel-heading text-center">
                                  <b>Multiple Axes Line Chart Example</b>
                                  <br>
                              </div>
                              <!-- /.panel-heading -->
                              <div class="panel-body">
                                  <div class="flot-chart">
                                      <div class="flot-chart-content" id="flot-line-chart-multi"></div>
                                  </div>
                              </div>
                              <!-- /.panel-body -->
                          </div>
                          <!-- /.panel -->
                      </div>
                      <div class="col-lg-6">
                          <div class="panel panel-default" >
                            <br>
                            <br>
                            <div class="panel-heading  text-center">
                              <b>Top10 riego vigente</b>
                              <br>
                            </div>
                            <table class="table" id="topRiesgoTable">
                              <thead>
                                <tr>
                                  <th>Ruc</th>
                                  <th>Razón social</th>
                                  <th>MontoAsegurado</th>
                                </tr>
                            </thead>
                            <tbody id="topRiesgoTableBody">

                              </tbody>
                            </table>
                              <!-- /.panel-body -->
                        </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-lg-6">
                    <div class="panel panel-default" >
                      <br>
                      <br>
                      <div class="panel-heading  text-center">
                        <b>Top10 Prórrogas</b>
                        <br>
                      </div>
                      <table class="table" id="topProrrogaTable">
                        <thead>
                          <tr>
                            <th>Ruc</th>
                            <th>Razón social</th>
                            <th>MontoAsegurado</th>
                          </tr>
                      </thead>
                      <tbody id="topProrrogasTableBody">

                        </tbody>
                      </table>
                        <!-- /.panel-body -->
                  </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="panel panel-default" >
                        <br>
                        <br>
                        <div class="panel-heading  text-center">
                          <b>Top10 variación de calificación</b>
                          <br>
                        </div>
                        <table class="table" id="topCalificacionTable">
                          <thead>
                            <tr>
                              <th>Ruc</th>
                              <th>Razón social</th>
                              <th>MontoAsegurado</th>
                              <th>Calificación anterior</th>
                              <th>Calificación nueva</th>
                            </tr>
                        </thead>
                        <tbody id="topCalificacionTableBody">

                          </tbody>
                        </table>
                          <!-- /.panel-body -->
                    </div>
              </div>
            </div>
            </div>
          </div>
      </div>

        <script src="../../assets/jquery/jquery.min.js"></script>

        <script src="../../assets/jquery/flot/excanvas.min.js"></script>
        <script src="../../assets/jquery/flot/jquery.flot.js"></script>
        <script src="../../assets/jquery/flot/jquery.flot.pie.js"></script>
        <script src="../../assets/jquery/flot/jquery.flot.resize.js"></script>
        <script src="../../assets/jquery/flot/jquery.flot.time.js"></script>
        <script src="./flot-data.js"></script>

        <script src="./sb-admin-2.js"></script>
    </body>
</html>
